@import "tailwindcss";


:root {
  /* definicion de paleta */
  --bg-retro: #EDE3D1;
  --text-dark: #2E2E2E;
  --text-medium: #6D4C41;
  --accent-terracotta: #E4572E;
  --panel-bg: #FAF8F5;
  --divider: #DCDCDC;
}

/* Mapeo de variables para el tema de Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Agregas tu paleta personalizada aquí */
  --color-retro: var(--bg-retro);
  --color-text-dark: var(--text-dark);
  --color-text-medium: var(--text-medium);
  --color-terracotta: var(--accent-terracotta);
  --color-panel: var(--panel-bg);
  --color-divider: var(--divider);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
